* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   -o-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   -webkit-font-smoothing: antialiased;
}

body {
   font-family: 'Inter', sans-serif;
}

@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('/static/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 400;
   font-display: swap;
   src: url('/static/fonts/Inter-Italic.woff2') format('woff2');
}

@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url('/static/fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 500;
   font-display: swap;
   src: url('/static/fonts/Inter-MediumItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url('/static/fonts/Inter-SemiBold.woff2') format('woff2');
}
@font-face {
   font-family: 'Inter';
   font-style: italic;
   font-weight: 600;
   font-display: swap;
   src: url('/static/fonts/Inter-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url('/static/fonts/Inter-Bold.woff2') format('woff2');
}
